parameters:
    level: 5
    paths:
        - src
        - tests
    tmpDir: .phpstan
    ignoreErrors:
        # Ignore test-related Mockery issues
        - '#Parameter \#1 \$client of class Magpie\\Resources\\.*Resource constructor expects Magpie\\Http\\Client, Mockery\\MockInterface given#'
        - '#Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage::once\(\)#'
        # Ignore specific test array offset issues (known false positives in test data)
        - '#Offset [12] does not exist on array\{0\?\: string, 1\?\: numeric-string, 2\?\: non-falsy-string\}#'
        # Ignore missing type hints for tests
        -
            identifier: missingType.iterableValue
            path: tests/*
        -
            identifier: missingType.generics
            path: tests/*
    reportUnmatchedIgnoredErrors: false
